/* styles.css */

/* Navbar Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Libre Baskerville;
}
.black-bg {
    background: linear-gradient(to bottom, #000000, #141010, #302626,#5e2f2f);
    padding: 20px;
    color: white;
  }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo{
  width: 10vw;
  height: 10vh;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar ul {
  list-style-type: none;
  margin-left: 30%;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  display: block;
  color: white;
  text-align: right;
  padding: 0.5vw 2vh;
  text-decoration: none;
}

.navbar li a:hover {
  background-color:#47c7f5;
  transition: background-color 0.3s ease-in-out;
  color: white;
  border-radius: 1vw;
}

/* Second Navbar Styles */
.navbar2 {
  background-color: transparent;
  color: white;
  padding: 2vh;
  margin-top: 12vh;
  text-align: center;
}

/* Third Navbar Styles */
.navbar3 {
  background-color: transparent;
  color: white;
  padding: 2vh;
  margin-top: 4vh;
  text-align: center;
}
.navbar4 {
  background-color: transparent;
  color: white;
  padding: 2vh;
  margin-top: 6vh;
  text-align: center;
}
/* Contact Section Styles */
.contact-section {
  margin-top: 2vh;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-box {
  padding: 2vh;
}

.contact-details {
  background-color: transparent;
  color: white;
  width: 15vw;
  height: 15vw;
  padding: 3vw;
  text-align: center;
  border-radius: 3vw;
}


.detail {
  margin-bottom: 2vh;
  position: relative;
  overflow: hidden; /* Ensure the child elements don't overflow */
}

.detail .value {
  position: relative; /* Add position relative to create stacking context */
  z-index: 1; /* Ensure the text appears above other elements */
  font-size: 1vw;
  font-weight: bold;
  color: transparent;
}
.det1 p{
  color: transparent
}

.detail :hover .value {
  color: white;
  transition: color 0.3s ease-in-out;
}



.detail .det1 {
  background-image: url(../img/1.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
}
.detail .det1:hover {
  background-image: url(../img/2.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
   ;
  max-height: 200px;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}

.detail .det2{
  background-image: url(../img/3.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;  
}
.detail .det2:hover {
  background-image: url(../img/4.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}
.detail .det3{
  background-image: url(../img/11.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;  
}
.detail .det3:hover {
  background-image: url(../img/12.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}
.detail .det5{
  background-image: url(../img/7.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;  
}
.detail .det5:hover {
  background-image: url(../img/8.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}
.detail .det6{
  background-image: url(../img/9.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;  
}
.detail .det6:hover {
  background-image: url(../img/10.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}
.detail .det7{
  background-image: url(../img/13.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;  
}
.detail .det7:hover {
  background-image: url(../img/14.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}
.detail .det8{
  background-image: url(../img/15.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;  
}
.detail .det8:hover {
  background-image: url(../img/16.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}
.detail .det9{
  background-image: url(../img/17.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;  
}
.detail .det9:hover {
  background-image: url(../img/18.png);
  background-size: cover;
  width: 15vw;
  height: 15vw;
  text-align: center;
  border-radius: 2vw;
  transition: background-image 0.2s ease-in-out;
}

.socials {
  background-color:#0e0b0b; 
  padding: 5vh 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.socials ul li {
  list-style-type: none;
  margin: 0 10vh;
}

.socials img {
  width: 5vw;
  height: 5vw;
}

.socials img:hover {
  transform: translate(0, -3vh);
}

.socials h2{
  font-family:libre franklin;
  color: rgb(238, 222, 222);

}

/* Dropdown Styles */
.dropdown {
  display: none;
}

.dropdown-toggle {
  display: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Styles for portrait mode */
@media screen and (orientation: portrait) {
  .navbar ul {
    display: none;
  }

  .dropdown-content {
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .dropdown.show .dropdown-content {
    display: block;
  }

  .dropdown-toggle{
    display: block;
    background-color: transparent;
    color: white;
    padding: 1vw;
    cursor: pointer;
    border: none;
  }
  
  .dropdown {
    display: none;
    margin-right: 0;
    margin-left: auto;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    background-color: transparent;
    color: white;
    padding: 1vw 1vh;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: transparent;
  }
}
