body {
  margin: 0;
  padding: 0;
  font-family: Libre Baskerville;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: flex;
  align-items: center;
}

.logo{
  width: 10vw;
  height: 10vh;
}

.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar ul {
  list-style-type: none;
  margin-left: 30%;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  display: block;
  color: white;
  text-align: right;
  padding: 0.5vw 2vh;
  text-decoration: none;
}

.navbar li a:hover {
  background-color:#feffff;
  transition: background-color 0.3s ease-in-out;
  color: #12202c;
  border-radius: 1vw;
}

  .black-bg {
    background: #12202c;
    padding: 20px;
    color: white;
  }
  
  h1, h2 {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
  }
  
  .sponsor-images img{
    width: calc(22% - 15px); /* Adjust the width as needed */
    height: auto;
    margin-left: 5vw;
    margin-bottom: 2.5vw;
  }
  .sponsor-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .Group{
    display: flex;
    overflow: hidden;
    justify-content: center;
  }
  .Group .images img {
    scale: 2.5;
    margin-top: 2vw;
  }

  .Title {
    position: relative;
    justify-content: center;
  }
  .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -5vw;
  }
  .Title .images img {
    width: calc(22% - 15px); /* Adjust the width as needed */
    height: auto;
    margin-left: 5vw;
    margin-bottom: 2.5vw;
  }
  

  
  .title-sponsor {
    width: 100%;
  }
  
  .platinum-sponsor,
  .sports-sponsor {
    width: 50%;
  }

  .title-box {
    padding: 20px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 5px;
    margin-top: 100px;
  }
  
  .title-box h1 {
    margin: 0; /* Remove default margin for the heading element */
  }

/* Dropdown Styles */
.dropdown {
  display: none;
}

.dropdown-toggle {
  display: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}


.socials {
  background-color:#0e0b0b; 
  padding: 5vh 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.socials ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.socials ul li {
  list-style-type: none;
  margin: 0 7vw;
}

.socials img {
  width: 5vw;
  height: 5vw;
}

.socials img:hover {
  transform: translate(0, -3vh);
}

.socials h2{
  font-family:libre franklin;
  color: rgb(238, 222, 222);

}

/* Styles for portrait mode */
@media screen and (orientation: portrait) {
  .navbar ul {
    display: none;
  }
  .navbar{
    position: fixed;
    background-color: #12202c;
    box-shadow: 0px 8px 16px 0px #0d1720;
  }
  .logo{
    width: 12vw;
    height: 10vh;
    margin-left: 5vw;
  }
  
  .navbar .logo img{
    scale: 2;
  }
  .navbar2 {
    background-color: transparent;
    color: white;
    padding: 2vh;
    margin-top: 15vh;
    text-align: center;
  }
  .socials img {
    width: 10vw;
    height: 10vw;
  }
  .socials ul li {
    list-style-type: none;
    margin: 0 5vw;
  }
  .sponsor-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .sponsor-images img {
    width: calc(40% - 15px); /* Adjust the width as needed */
    height: auto;
    margin-left: 5vw;
    margin-bottom: 2.5vw;
  }
  .Title .images img {
    width: calc(40% - 15px); /* Adjust the width as needed */
    height: auto;
    margin-left: 5vw;
    margin-bottom: 2.5vw;
  }
  .Group{
    display: flex;
    overflow: hidden;
    justify-content: center;
  }
  .Group .images img {
    scale: 2;
    margin-top: 2vw;
  }
  .Title h2{
    font-size: 3vw;
  }
  .title-box {
    padding: 20px;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border-radius: 5px;
    margin-top: 100px;
    font-size: 1.5vw;
  }
  
  .title-box h1 {
    margin: 0; /* Remove default margin for the heading element */
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .dropdown.show .dropdown-content {
    display: block;
  }

  .dropdown-toggle{
    display: block;
    background-color: transparent;
    color: white;
    padding: 1vw;
    cursor: pointer;
    border: none;
    font-size: 5vw;
  }
  
  .dropdown {
    display: none;
    margin-right: 0;
    margin-left: auto;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #12202c;
    min-width: 20vw;
    box-shadow: 0px 8px 16px 0px #12202c;
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    background-color: transparent;
    color: white;
    padding: 1vw 1vh;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: transparent;
  }
}

